name: Build
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install Dependencies
        run: npm install

      - name: Build Application
        run: npm run build

      - name: Run Tests and Generate Coverage
        run: |
            npm run test:cov
            find . -name lcov.info
            ls -al ./src/coverage
            echo ------------------------------
            sed -i 's/\/home\/runner\/work\/MISW4203-MOVIL-BackVynils\/MISW4203-MOVIL-BackVynils\//\/github\/workspace\//g' ./src/coverage/lcov.info
            sed -i 's/\/home\/runner\/work\/MISW4203-MOVIL-BackVynils\/MISW4203-MOVIL-BackVynils\//\/github\/workspace\//g' ./src/coverage/sonar-cloud-reporter.xml
            cat ./src/coverage/lcov.info

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
